<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
    <thead>
        <tr>
            <th>habitacion</th>
            <th>capacidad</th>
            <th>precio</th>
            <th>terraza</th>
            <th>cocina</th>
            <th>terraza</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for habit in habitacion %}
        <tr>
            <td>{habit.habitacion}</td>
            <td>{habit.capacidad}</td>
            <td>{habit.precio}</td>
            <td>{habit.terraza}</td>
            <td>{habit.cocina}</td>
            <td>{habit.terraza}</td>
            <td><a href="{% url 'actualizarHabitacion' habit.id %}" class="btn btn-primary"></a></td>
            <td><a href="{% url 'eliminarHabitacion' habit.id %}" class="btn btn-primary"></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'agregarHabitacion' %}" class="btn btn-primary">Agregar nueva habitacion</a>
</body>
</html>