<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>index</title>
</head>
<body >
    <nav class="container mt-5">
        <ul>
            <li><a href="{% url 'crearHotel' %}" class="btn btn-primary">Crear Hotel</a></li>
            <li><a href="{% url 'crearHabitacion' %}"class="btn btn-primary" >Crear Habitación</a></li>
            <li><a href="{% url 'crearPasajero' %}" class="btn btn-primary" >Crear Pasajero</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}  
    </main>
</body>
</html>