<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Servicios Habitaciones</title>
</head>
<body >
    <div class="alert alert-success display-1">Listado de habitacion</div>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>nombre</th>
                <th>direccion</th>
                <th>numero</th>
                <th>habitacion</th>
                <th>capacidad</th>
                <th>precio</th>
                <th>terraza</th>
                <th>cocina</th>
                <th>disponibilidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in hoteles %}
                {% for habit in habitaciones %}
                    <tr>
                        <td>{{hotel.nombreHotel}}</td>
                        <td>{{hotel.direccionHotel}}</td>
                        <td>#{{hotel.numberHotel}}</td>
                        <td>{{habit.habitacion}}</td>
                        <td>{{habit.capacidad}}</td>
                        <td>${{habit.precio}}</td>
                        {% comment %} https://code.djangoproject.com/ticket/14333 {% endcomment %}
                        {% comment %} Objetivo: Cambiar los booleanos por verbos más explicitos {% endcomment %}
                        <td>{% if habit.terraza == True %}Si{% else %}No{% endif %}</td>
                        <td>{% if habit.cocina == True %}Si{% else %}No{% endif %}</td>
                        <td>{% if habit.disponibilidad == True %}Si{% else %}No{% endif %}</td>
                        <td>
                            <button><a href="{% url 'editarHabitacion' habit.id %}" class="btn btn-primary">Editar</a></button>
                            <button><a href="{% url 'eliminarHabitacion' habit.id %}" class="btn btn-danger">Eliminar</a></button>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'crearHabitacion' %}" class="btn btn-warning">Crear nuevo Hotel</a></button>
    <button><a href="{% url 'index' %}" class="btn btn-warning">Home</a></button>

</body>
</html>