<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Servicios De Hoteles</title>
</head>
<body>
    <div class="alert alert-success display-1">Listado de hoteles</div>
    

    <table class="table-bordered">
            <thead>
                <tr>
                    <th>Nombre del Hotel </th>
                    <th>Direccion del Hotel </th>
                    <th>Habitaciones </th>
                    <th>Tarifa </th>
                    <th>Telefono Hotel </th>
                    <th>Mascota </th>
                    <th>Numero </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody> 
                {% for hoteles in hotel %}
                <tr>
                    <td>{{ hoteles.nombreHotel }}</td>
                    <td>{{ hoteles.direccionHotel }}</td>
                    <td>{{ hoteles.habitacionHotel }}</td>
                    <td>{{ hoteles.tarifaHotel }}</td>
                    <td>{{ hoteles.telefonoHotel }}</td>
                    <td>{{ Hoteles.mascotaHotel }}</td>
                    <td>{{ hoteles.numeroHotel }}</td>
                    <td>
                        <a href="{% url 'editarHotel' hoteles.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'eliminarHotel' hoteles.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        <a href="{% url 'crearHotel' %}" class="btn btn-warning">Crear nuevo Hotel</a>
    
</body>
</html>