<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Listado Pasajeros</title>
</head>
<body>
    <div class="alert alert-success display-1">Listado de Pasajeros</div>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>rut Pasajero </th>
                    <th>nombre  </th>
                    <th>apellido </th>
                    <th>fono </th>
                    <th>llegada </th>
                    <th>salida </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pasajero in pasajeros %}
                <tr>
                    <td>{{ pasajero.rutClient }}</td>
                    <td>{{ pasajero.nombreClient }}</td>
                    <td>{{ pasajero.apellidoClint }}</td>
                    <td>{{ pasajero.fonoClient }}</td>
                    <td>{{ pasajero.llegadaClient }}</td>
                    <td>{{ pasajero.salidaClient }}</td>
                    <td>
                        <button><a href="{% url 'editarPasajero' pasajero.id %}" class="btn btn-primary">Editar</a></button>
                        <button><a href="{% url 'eliminarPasajero' pasajero.id %}" class="btn btn-danger">Eliminar</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        <a href="{% url 'crearPasajero' %}" class="btn btn-warning">Crear nuevo Pasajero</a>
        <a href="{% url 'index' %}" class="btn btn-warning">Home</a>

    
</body>
</html>