<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Listado Pasajeros</title>
</head>
<body>
    <div class="alert alert-success display-1">Listado de Pasajeros</div>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>rut Pasajero </th>
                    <th>nombre  </th>
                    <th>apellido </th>
                    <th>fono </th>
                    <th>llegada </th>
                    <th>salida </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pasajeros in pasajero %}
                <tr>
                    <td>{{ pasajeros.rutClient }}</td>
                    <td>{{ pasajeros.nombreClient }}</td>
                    <td>{{ pasajeros.apellidoClint }}</td>
                    <td>{{ pasajeros.fonoClient }}</td>
                    <td>{{ pasajeros.llegadaClient }}</td>
                    <td>{{ pasajeros.salidaClient }}</td>
                    <td>
                        <a href="{% url 'editarPasajero' pasajeros.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'eliminarPasajero' pasajeros.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        <a href="{% url 'crearPasajero' %}" class="btn btn-warning">Crear nuevo Passajero</a>
    
</body>
</html>